<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>FirstProject</display-name>
	<servlet>
	<servlet-name>AdditionofNumbers</servlet-name>
	<servlet-class>AddNumbers</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdditionofNumbers</servlet-name>
		<url-pattern>/sum</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
	<servlet-name>MultiplicationOfNumbers</servlet-name>
	<servlet-class>MultiplyNumbers</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MultiplicationOfNumbers</servlet-name>
		<url-pattern>/product</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
	<servlet-name>LifeCycleImp</servlet-name>
	<servlet-class>LifeCycle</servlet-class>
	<init-param>
		<param-name>FileName</param-name>
		<param-value>Employee</param-value>
	</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>LifeCycleImp</servlet-name>
		<url-pattern>/life</url-pattern>
	</servlet-mapping>
	
	
	
</web-app>